{{!--
GET /signout
This route will expire/delete the ClubAuthState and inform the member that they have been logged out.
It will provide a URL hyperlink to the /signin route.
--}}
<section>
  <p>You have been successfully signed out.</p>
  <a href="/signin">Click here to sign in again</a>
</section>