

<p>Successful Deletion!</p>
<a id="incident_createlink" href="/incident_create">Click Here if you want to create an incident</a>
<a id="homelink" href="/">Click Here if you want to return to the home page</a>
