

<h1>{{title}}</h1>
<form id="incident_create-form" name="incident_create-form" action="/incident_create" method="POST" class="form">
    <label>
        category
        <input type="text" name="category" id="category" placeholder="Type the category">
    </label>
    <label>
        Title
        <input type="text" name="Title" id="Title" placeholder="Type the title">
    </label>
    <label>
        decription
        <input type="text" name="description" id="description" placeholder="type the description">
    </label>
    <label>
        location
        <input type="text" name="location" id="location" placeholder="type the location">
    </label>
    <label>
        submit button 
        <button type="submit" name="submit_button" id="submit_button">Submit!</button>
    </label>
</form>