

<h1>{{title}}</h1>
<form id="incident_update-form" name="incident_update-form" action="/incident_update" method="POST" class="form">
    <label>
        category
        <input type="text" name="category" id="category" placeholder="Type the category or leave blank if you dont want to change">
    </label>
    <label>
        Title
        <input type="text" name="Title" id="Title" placeholder="Type the title or leave blank if you dont want to change">
    </label>
    <label>
        decription
        <input type="text" name="description" id="description" placeholder="type the description or leave blank if you dont want to change">
    </label>
    <label>
        location
        <input type="text" name="location" id="location" placeholder="type the location or leave blank if you dont want to change">
    </label>
    <label>
        submit button 
        <button type="submit" name="submit_button" id="submit_button">Submit!</button>
    </label>
    {{! Write code to handle sending the users name and id}}
</form>